.container {
    width: 100%;
}

.wrapper {
    max-width: 430px;
    margin: auto;
    padding: 25px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.coupon-wrapper {
    width: 302px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;

    span {
        color: #FFBA49;
        font-family: Shopee Display;
        font-size: 13px;
        font-weight: 800;
        line-height: 15.89px;
    }
    div {
        border: 1px solid #FFFFFF;
        font-family: Shopee Display;
        padding: 4px 12px;
        width: 181px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
    }
}

.numb-coupon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 29px 0 16px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    & > :global(.ant-image) {
        position: absolute;
        z-index: 1;
        &:first-child {
            top: 0px;
            left: 74px;
        }
        &:nth-child(2) {
            top: -30px;
            right: 8px;
        }
    }

    span {
        color: #003192;
        font-weight: 800;
        font-size: 24px;
        padding: 2px 23px;
        background-color: #FFAD05;
        border-radius: 5px;
        margin-bottom: 7px;
        font-family: Shopee Display;
    }

    h1 {
        color: #FFAD05;
        font-weight: 800;
        font-size: 31px;
        margin: 0;
        font-family: Shopee Display;
    }

    h5 {
        font-family: Montserrat;
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 29.26px;
        text-align: left;
        color: #fff;
        margin: 0;
    }
}

.divider {
    width: 48px;
    height: 2px;
    background-color: #fff;
    margin-top: 20px;
}

.message {
    width: 335px;
    white-space: pre-line;
    color: #fff;
    font-family: Montserrat;
    font-size: 11.15px;
    font-weight: 600;
    line-height: 18.9px;
    margin: 25px auto 20px;

    span {
        font-weight: 800;
        font-style: italic;
        color: #FFBA49;
    }
}
.cond-wrapper {
    margin: 33px 48px 0;
    display: flex;
    flex-direction: column;
}
.cond-title {
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 23px;
    color: #FFBA49;
}

.cond-desc {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    color: #fff;
    white-space: pre-line;
}

.go-down {
    font-size: 16px;
    font-weight: 900;
    line-height: 23px;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    :global(.ant-btn) {
        span {
            font-family: Montserrat !important;
            font-weight: 800;
        }
    }
}