.container {
    width: 100%;
    height: 100vh;
    border: 3px solid #ffba49;
    border-radius: 3px;
    background-color: #003192;
}
.wrapper {
    width: 300px;
    margin: 46px auto 24px;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 24px;
    span {
        font-family: Shopee Display;
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
        text-align: center;
    }
    :global(.ant-image) {
        position: absolute;
        right: 38px;
        top: 26px;
    }
}

.form-signup {
    :global(.ant-radio-wrapper-in-form-item) {
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 400;
        line-height: 13.41px;
        text-align: left;
        color: #fff;
        align-items: center;
    }

    :global(.ant-radio-inner) {
        background-color: transparent;
    }
    :global(.ant-radio-checked .ant-radio-inner) {
        background-color: #ffba49;
        border-color: #ffba49;
    }
    :global(.ant-space) {
        row-gap: 10px;
    }

    :global(.ant-form-item) {
        margin-left: 24px;
    }
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    margin-bottom: 24px;
    span {
        font-family: Shopee Display;
        font-size: 36px;
        font-weight: 800;
        line-height: 36px;
        text-align: center;
    }
    :global(.ant-image) {
        position: absolute;
        right: 15px;
        top: 42px;
    }
}

.antherAnswer {
    font-family: Montserrat;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    line-height: 13.41px;
    text-align: left;
    color: #fff;
    margin-left: 24px;
    margin-bottom: 8px;
}

.quote {
    margin-left: 24px;
    border: 1px solid #ffba49;
    width: 250px;
    height: 103px;
    border-radius: 5px;
    padding: 15px 22px;
    line-height: 9.75px;
    position: relative;

    span {
        color: #fff;
        font-family: Montserrat;
        font-size: 8px;
        font-weight: 400;
        text-align: left;
    }

    :global(.ant-image) {
        position: absolute;
        right: 26px;
        bottom: -11px;
    }
}

.btn-signup {
    display: flex;
    justify-content: center;
    :global(.ant-btn) {
        width: 200px;
        height: 40px;
        background-color: #ffba49;
        border-radius: 20px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        text-align: center;
        color: #003192;
        margin-top: 24px;
    }
}
.modal {
    :global(.ant-modal-content) {
        padding: 5px;
    }
}
