.container {
    width: 100%;
}

.wrapper {
    max-width: 430px;
    margin: auto;
    padding: 28px 0;
}

.header {
    height: 274px;
    padding-top: 28px;
    position: relative;

    & > :global(.ant-image) {
        position: absolute;
        left: 12px;
        bottom: -7px;
    }
}

.logo-section {
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    width: 43px;
    height: 13px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8.5px;
    font-family: Montserrat;
    font-size: 7px;
    font-weight: 600;
    line-height: 8.53px;
    text-align: left;
    color: #fff;
}

.title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    text-align: center;
    color: #fff;
    white-space: pre-line;
}

.content {
    background-color: #A1CCE5;
    padding: 24px 18px 28px;
    position: relative;

    & > :global(.ant-image) {
        position: absolute;
        z-index: 1;
        &:first-child {
            top: 0;
            right: 114px;
        }
        &:nth-child(2) {
            bottom: 6px;
            left: 81px;
        }
        &:nth-child(3) {
            bottom: 0;
            right: 117px;
        }
        &:nth-child(4) {
            bottom: -20px;
            right: 10px;
        }
    }
}

.image-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.footer {
    background-color: #FFBA49;
    height: 20px;
}