.layout {
    min-height: 100% !important;
}

.content {
    width: 100%;
    min-height: 100vh;
    background-color: #052B76;
}

.admin-content {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}